---
import Layout from '../layouts/Layout.astro';
import Twitch from '../components/Icons/Twitch.astro'
import Instagram from '../components/Icons/Instagram.astro'
import Spotify from '../components/Icons/Spotify.astro'
import Tiktok from '../components/Icons/Tiktok.astro'
import Youtube from '../components/Icons/Youtube.astro'
---

<Layout title="Jane Gam - Janeth Palacios">
	<section class="flex flex-col items-center justify-center h-full w-full relative">
		<span class="absolute z-0 font-bold text-9xl text-zinc-300/40 ">JANE GAM</span>
		<h1 class="z-10 font-bold text-7xl text-zinc-700">JANE GAM</h1>
		<aside class="px-48 flex flex-col absolute right-0 gap-5">
			<a href="https://www.instagram.com/janegammx/"><Instagram /></a>
			<a href="https://www.twitch.tv/janegammx"><Twitch /></a>
			<a href="https://open.spotify.com/intl-es/artist/1a5oOKy0mPnb4X8PAUQgIj?si=5IShcmgaT3GADAAcs6I--Q"><Spotify /></a>
			<a href="#"><Tiktok /></a>
			<a href="#"><Youtube /></a>
		</aside>
		<button class="absolute bottom-5">
			<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
			</svg>
		</button>
	</section>
	<section id="About" class="flex flex-col items-center justify-center h-full bg-white">
		<div class="flex gap-10">
			<div class="shadow-xl">
				<img src="https://scontent.ftrc2-1.fna.fbcdn.net/v/t39.30808-6/272291340_1064463537456938_2058496443781528000_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=sOClbz-25MQAX9EkMlm&_nc_ht=scontent.ftrc2-1.fna&oh=00_AfB8MGNcYAq44Tx8K9_Rtkhstjw1TQ0cp2aPZXJvmPN3uw&oe=6593C24B" alt="Photo Jane Gam Perfil"
				class="rounded w-80">
			</div>
			<div class="flex flex-col gap-3">
				<div class="flex gap-3 items-center">
					<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>
					</svg>
					<h1 class="text-3xl font-bold">ABOUT ME</h1>
				</div>
				<p class="text-lg text-zinc-700 w-96">Hello, My name is <span class="text-violet-600 font-medium">Janeth Palacios</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, esse natus animi error temporibus, maxime velit nostrum alias pariatur vero quidem ratione nihil illo! Magnam repudiandae laudantium repellat consectetur deserunt?</p>
				<div class="flex flex-col gap-3">
					<span class="text-zinc-700 font-medium">My Favorite Activities</span>
					<ul class="flex flex-wrap gap-3 w-96">
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Taekwondo</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Make Music</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Play VideoGames</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Watch Movies</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Take Care Of Venus</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</Layout>


