---
import Layout from '../layouts/Layout.astro';
import Twitch from '../components/Icons/Twitch.astro'
import Instagram from '../components/Icons/Instagram.astro'
import Spotify from '../components/Icons/Spotify.astro'
import Tiktok from '../components/Icons/Tiktok.astro'
import Youtube from '../components/Icons/Youtube.astro'

import Song from '../components/Song.astro';
---

<Layout title="Jane Gam - Janeth Palacios">
	<section class="flex flex-col items-center justify-center h-full w-full relative">
		<span class="absolute z-0 font-bold text-9xl text-zinc-300/40 ">JANE GAM</span>
		<h1 class="z-10 font-bold text-7xl text-zinc-700">JANE GAM</h1>
		<aside class="px-48 flex lg:flex-col sm:flex-row absolute lg:right-0 sm:bottom-24 gap-5">
			<a href="https://www.instagram.com/janegammx/"><Instagram /></a>
			<a href="https://www.twitch.tv/janegammx"><Twitch /></a>
			<a href="https://open.spotify.com/intl-es/artist/1a5oOKy0mPnb4X8PAUQgIj?si=5IShcmgaT3GADAAcs6I--Q"><Spotify /></a>
			<a href="#"><Tiktok /></a>
			<a href="https://www.youtube.com/@JaneGam"><Youtube /></a>
		</aside>
		<button class="absolute bottom-5">
			<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
			</svg>
		</button>
	</section>
	<section id="About" class="relative flex flex-col items-center justify-center h-full bg-white">
		<div class="flex gap-10">
			<div class="shadow-xl">
				<img src="https://scontent.ftrc2-1.fna.fbcdn.net/v/t39.30808-6/272291340_1064463537456938_2058496443781528000_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=sOClbz-25MQAX9EkMlm&_nc_ht=scontent.ftrc2-1.fna&oh=00_AfB8MGNcYAq44Tx8K9_Rtkhstjw1TQ0cp2aPZXJvmPN3uw&oe=6593C24B" alt="Photo Jane Gam Perfil"
				class="rounded w-80">
			</div>
			<div class="flex flex-col gap-3">
				<div class="flex gap-3 items-center">
					<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">
				 		<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>
					</svg>
					<h1 class="text-3xl font-bold">ABOUT ME</h1>
				</div>
				<p class="text-lg text-zinc-700 w-96">Hello, My name is <span class="text-violet-600 font-medium">Janeth Palacios</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, esse natus animi error temporibus, maxime velit nostrum alias pariatur vero quidem ratione nihil illo! Magnam repudiandae laudantium repellat consectetur deserunt?</p>
				<div class="flex flex-col gap-3">
					<span class="text-zinc-700 font-medium">My Favorite Activities</span>
					<ul class="flex flex-wrap gap-3 w-96">
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Taekwondo</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Make Music</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Play VideoGames</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Watch Movies</li>
						<li class="p-2 rounded-lg bg-pink-100 border border-pink-400 text-pink-600 font-medium w-fit">Take Care Of Venus</li>
					</ul>
				</div>
				<div class="h-full flex items-end justify-end">
					<a href="#" class="text-violet-600 font-medium">More About Me</a>
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right"stroke='rgb(124, 58, 237)' width="24" height="24" viewBox="0 0 24 24" stroke-width="2"  fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
				</div>
			</div>
		</div>
		<button class="absolute bottom-5">
			<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
			</svg>
		</button>
	</section>
	<section id="Music" class="relative flex lg:flex-row sm:flex-col items-center justify-center w-full h-full bg-gradient-to-b from-white to-pink-200 gap-10">
		<div class="flex flex-col items-center w-96 relative lg:-right-28">
			<div class="flex gap-3 items-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music h-7 w-7" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M13 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M9 17v-13h10v13" /><path d="M9 8h10" /></svg>
				<h2 class="font-bold text-3xl">MY MUSIC</h2>
			</div>
			<div class="w-80 flex flex-col gap-3 items-center">
				<p class="text-lg text-center text-zinc-700">All my music on your favorite platfor,
					 <span class="text-green-400 font-bold">Spotify</span>,
					 <span class="text-pink-400 font-bold">Apple Music</span>,
					 <span class="text-purple-400 font-bold">Deezer</span>, etc..
				</p>
				<div class="bg-white shadow-lg rounded p-4 w-96 items-center ">
					<div class="flex justify-between">
						<span class="text-zinc-700 font-medium">My Songs most recent</span>
						<a href="#" class="text-violet-500 font-medium hover:underline">Listen To Music All</a>
					</div>
					<Song 
					name="Diamantes" 
					published="4 de Diciembre 2023" 
					image="/Images/DiamanteSong.png"
					link="https://open.spotify.com/intl-es/track/0Ka0sRsASIk59IoFHB50Dd?si=78c297902e6848db"
					/>
					<Song 
					name="La Cruda" 
					published="23 de Junio 2023" 
					image="/Images/Lacruda.png"
					link="https://open.spotify.com/intl-es/track/6vVA5KmZKVgcTLklBR1DO4?si=71fe6cb965f04f9e"
					/>
					<Song 
					name="Galactico" 
					published="11 de Abril 2023" 
					image="/Images/GalacticoSong.png"
					link="https://open.spotify.com/intl-es/track/2scPXKYQKrKOkIPMQPPhhM?si=0b5b3eb918dd4252"
					/>
				</div>
			</div>
		</div>
		<div class="w-[1000px] cover-hidden">
			<img src="/Images/spotify.png" alt="" class="">
		</div>
		<button class="absolute bottom-5">
			<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
			</svg>
		</button>
	</section>
</Layout>


