---
import Layout from '../layouts/Layout.astro';
import Twitch from '../components/Icons/Twitch.astro'
import Instagram from '../components/Icons/Instagram.astro'
import Spotify from '../components/Icons/Spotify.astro'
import Tiktok from '../components/Icons/Tiktok.astro'
import Youtube from '../components/Icons/Youtube.astro'
---

<Layout title="Welcome to Astro.">
	<section class="flex flex-col items-center justify-center h-full w-full relative">
		<span class="absolute z-0 font-bold text-9xl text-zinc-300/40 ">JANE GAM</span>
		<h1 class="z-10 font-bold text-7xl text-zinc-700">JANE GAM</h1>
		<aside class="px-48 flex flex-col absolute right-0 gap-5">
			<a href="https://www.instagram.com/janegammx/"><Instagram /></a>
			<a href="https://www.twitch.tv/janegammx"><Twitch /></a>
			<a href="https://open.spotify.com/intl-es/artist/1a5oOKy0mPnb4X8PAUQgIj?si=5IShcmgaT3GADAAcs6I--Q"><Spotify /></a>
			<a href="#"><Tiktok /></a>
			<a href="#"><Youtube /></a>
		</aside>
		<button class="absolute bottom-5">
			<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
			</svg>
		</button>
	</section>
</Layout>


