---
const {name, image, published} = Astro.props;
---
<div class="px-5 flex gap-3 items-center w-full border-b">
    <img src={image} alt="" class="w-24">
    <div class="flex flex-col gap-2 w-full">
        <h3>{name}</h3>
        <div class="flex justify-between">
            <p>{published}</p>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M9 17v-13h10v7" /><path d="M9 8h10" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
            </div>
        </div>
    </div>
</div>